.nav .link {
  font-size: 18px;
  padding: 4px;
  margin-left: 10px;
  text-decoration: none;
}

.active {
  font-size: 18px;
  padding: 4px;
  margin-left: 10px;
  color: blue;
  text-decoration: none;
}
