.price {
  color: #fff;
  text-decoration: line-through;
  padding: 3px 10px;
  background-color: #e66969;
  width: fit-content;
  margin: 5px 0;
}

.discount {
  color: #fff;
  padding: 3px 10px;
  background-color: #0e7736;
  width: fit-content;
  margin: 5px 0;
}