@import './styles/constants';
@import './styles/normalize';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-main-heading;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: $color-main-background;
  color: $color-main-text;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}
